  
<h1>Adult Short Sleeve Tee</h1>
<li>6 oz. 100% Cotton Tubular Jersey.</li>
<li>Double-needle bottom hem and sleeves.</li> 
<li>Shoulder-to-shoulder tape. </li>
<li>Preshrunk to minimize shrinkage.</li>  
<li>Athletic Heather 90/10 Cotton/Polyester</li> 
<li>Charcoal Heather 50/50 Cotton/Polyester </li>
<li>Safety Green 50/50 Cotton Polyester </li>
<li>Colored Heathers 50/50 Cotton Polyester </li>
<li>Body Width: S=18", M=20", L=22", XL=24", 2XL=26 </li>
<img src="/assets/7001.jpg" alt="Img" height="150" width="150">
<img src="/assets/7002.jpg" alt="Img" height="150" width="150">
<img src="/assets/7003.jpg" alt="Img" height="150" width="150">
<img src="/assets/7006.jpg" alt="Img" height="150" width="150">
<img src="/assets/7007.jpg" alt="Img" height="150" width="150">
